<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Student Score Classification</h1>

<div class="container">
    <form action="{{url_for('predict')}}" method="POST">
        <label for="">Test_1</label>
        <input type="text" name="p1"><br><br>
        <label for="">Test_2</label>
        <input type="text" name="p2"><br><br>
        <label for="">Test_3</label>
        <input type="text" name="p3"><br><br>
        <label for="">Test_4</label>
        <input type="text" name="p4"><br><br>
        <label for="">Test_5</label>
        <input type="text" name="p5"><br><br>
        <label for="">Test_6</label>
        <input type="text" name="p6"><br><br>

        <button type="submit" class="btn btn-primary">Predict</button>
    </form>
    <p>Type: {{pred}}</p>

</div>
</body>
</html>